<h1>グループ編集</h1>

<%= form_with model: @group, url: post_path(@group), method: :patch do |f| %>

<div class="form-group">
  <label for="name">グループ名</label>
  <br>
  <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
  <label for="theme">テーマ</label>
  <br>
  <%= f.text_area :theme %>
  </div>

  <div class="form-group">
   <%= f.submit '更新する', class: "btn btn-md btn-warning" %>
  </div>

  <% end %>