<div class="container px-5 px-sm-0">
  <div class="row">
   <div class ="col-lg-20 col-md-10 mx-2 mx-sm-auto">

<h2>検索結果</h2>

<% if @users.empty? && @posts.empty? %>
  <p>検索結果はありません。</p>
  <% else %>

<table>
<tbody>
  <% @users.each do |user| %> 
  <tr>
    <td><%= user.name %></td>
  </tr>
  <% end %>

  <% @posts.each do |post| %> 
  <tr>
    <td><%= post.title %></td>
  </tr>
  <tr>
    <td><%= post.body %></td>
  </tr>
  <% end %>
  <% end %>
  </tbody>
  </table>
  </div>
</div>
</div>

 
