<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>About</h1>
<p><strong>観劇FANオンライン</strong>は、</P>
<p>観劇好きの方や、観劇に興味のある方が自由に</P>
<p>感想を綴れるサイトです。</p>

</div>
</div>
</div>